---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$heading-font-family: 'FengardoNeue'; //, "FiraSansThin";
$base-font-family: Noto Serif, serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
//$brand-color:      #2a7ae2;  // <- original pretty blue
//$brand-color:      #FF7231;
//$brand-color:      #FF6F4B; // <- v nice, salmony
//$brand-color: #FF8164;  // <- salmon, but slightly paler
//$brand-color: #FFDB7E;  // <- pale yellow. keeping for inspiration.
//$brand-color: #7EC487; // green, just to see
//$brand-color: #A1D6A8; // a lighter, less-saturated green
// my own shot(s) at blue:
//$brand-color: #37BFE3;
//$brand-color: #62C8E3;
//$brand-color: #4CADC6;
//$brand-color: #73CFE8;
$brand-color: #2BB1E0;

$brand-color-dark: desaturate(darken($brand-color, 20%), 15%);
$brand-color-really-dark: desaturate(darken($brand-color, 40%), 30%);


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "fonts",
        "syntax-highlighting",
        "colors"
;



// fix media images disappearing in chrome:
.media .media-object {
  max-width: inherit;
}


.box-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
}

.gallery {
  img {
    display: inline-block;
    max-width: 250px;  /* in case you want the first to be bigger */
    margin: 12px;
    @extend .box-shadow;
  }

  img ~ img {
    max-width: 250px;
  }
}

