---
layout: default
---

<h1 class='mast-head front-page'>{{ site.title }}</h1>

<div class='row'>
  <div class="col-md-6 projects">
    <h2>Projects</h2>

    {% assign sorted_projects = site.data.projects | sort: 'when' %}
    {% for project in sorted_projects reversed %}
    <div class='media'>
      <div class='media-left'>
        <a href='/projects/{{ project.dir }}'>
          <img class="media-object" src="/projects/{{ project.dir }}/thumb.png" alt='{{ project.thumb_title }}'>
        </a>
      </div>
      <div class='media-body'>
        <a href='/projects/{{ project.dir }}'>
          <h3 class='media-heading'>{{ project.name }} <small>{{ project.event }}</small></h3>
        </a>
        <p>{{ project.blurb }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="col-md-4 posts">
    <h2>Newsworthy</h2>

    {% for post in site.posts limit:7 %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <small>{{ post.date | date: '%b %d, %y' }}</small>
    <p>{{ post.excerpt }}</p>
    {% endfor %}
  </div>

  <div class="col-md-2 about">
    <h2>About</h2>
    <p>{{ site.about }}</p>
  </div>

</div>
