<html>
  <head>
    <title>{{ title | with_dot_if_present }}Design is Choice</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/style.css">
    <script src="/javascript/p5.min.js"></script>
  </head>
  <body>
    <div id="columns">
      <div id="left">
        {{ content }}
      </div>
      <div id="right">
        <div id="ribbon">
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="footer-columns">
        <div id="logo">
          <h3>DESIGN <i>is</i> CHOICE<br>
            <i>by</i> <a href="https://danbernier.com/">DAN BERNIER</a></h3>
          <p>© 2021</p>
        </div>
        <div id="links">
          <!--
          <a href="#">About</a><br>
          <a href="#">Projects</a>
          -->
        </div>
        <div id="social">
          <a href="https://github.com/danbernier/designischoice.com"><img src="/images/github.svg"></a>
          <a href="https://instagram.com/designischoice"><img src="/images/instagram.svg"></a>
        </div>
      </div>
    </div>
  </body>
</html>
