<html>
  <head>
    <title>{{title}} · Design is Choice</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/style.css">
    <script src="/javascript/p5.min.js"></script>
  </head>
  <body>
    <div id="columns">
      <div id="left">
        <div id="logo">
          <a href="/"><h3>DESIGN <i>is</i> CHOICE</h3></a>
        </div>
        <div id="project">
          <div class="title">
            <h1>{{title}}</h1>
            {{#event_html?}}
            <p>{{{event_html}}}</p>
            {{/event_html?}}
          </div>

          {{{all_body_html}}}
        </div>
      </div>
      <div id="right">
        <div id="ribbon">
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="footer-columns">
        <div id="logo">
          <h3>DESIGN <i>is</i> CHOICE<br>
            <i>by</i> <a href="https://danbernier.com/">DAN BERNIER</a></h3>
          <p>© {{ current_year }}</p>
        </div>
        <div id="links">
          <!--
          <a href="#">About</a><br>
          <a href="#">Projects</a>
          -->
        </div>
        <div id="social">
          <a href="https://github.com/danbernier/designischoice.com"><img src="/images/github.svg"></a>
          <a href="https://instagram.com/designischoice"><img src="/images/instagram.svg"></a>
        </div>
      </div>
    </div>
  </body>
</html>
