<footer class="site-footer">

  <div class='container'>
    <div class="row">

      <div class="col-md-4">
        &copy; {{ 'now' | date: "%Y" }} Daniel Bernier
      </div>

      <div class="col-md-4">
        <i class='fa fa-twitter'></i>
        <a href="https://twitter.com/designischoice">designischoice</a>
        <br>

        <i class='fa fa-github'></i>
        <a href="https://github.com/danbernier/designischoice.com">danbernier/designischoice.com</a>
      </div>

      <div class="col-md-4">
        <p class="text">{{ site.description }}</p>
        <p class="rss-subscribe">
        <i class='fa fa-rss'></i>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe</a>
        </p>
      </div>

    </div>
  </div>

</footer>
