.swatch {
  width: 70px;
  height: 70px;
  margin: 20px;
  padding: 20px;
}

.grey-bg { background-color: $grey-color; }

.brand-color-fg { color: $brand-color; }
.brand-color-bg { background-color: $brand-color; color: $grey-color-light; }

.brand-color-dark-fg { color: $brand-color-dark; }
.brand-color-dark-bg { background-color: $brand-color-dark; color: $grey-color-light; }

.brand-color-really-dark-fg { color: $brand-color-really-dark; }
.brand-color-really-dark-bg { background-color: $brand-color-really-dark; color: $grey-color-light; }
