// Import Noto Serif from Google
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

@font-face {
  font-family: 'FiraSansBold';
  src: url('/fonts/FiraSans-Bold/firasans-bold-webfont.eot');
  src: url('/fonts/FiraSans-Bold/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/FiraSans-Bold/firasans-bold-webfont.woff2') format('woff2'),
  url('/fonts/FiraSans-Bold/firasans-bold-webfont.woff') format('woff'),
  url('/fonts/FiraSans-Bold/firasans-bold-webfont.ttf') format('truetype'),
  url('/fonts/FiraSans-Bold/firasans-bold-webfont.svg#fira_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansThin';
  src: url('/fonts/FiraSans-Thin/firasans-thin-webfont.eot');
  src: url('/fonts/FiraSans-Thin/firasans-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/FiraSans-Thin/firasans-thin-webfont.woff2') format('woff2'),
  url('/fonts/FiraSans-Thin/firasans-thin-webfont.woff') format('woff'),
  url('/fonts/FiraSans-Thin/firasans-thin-webfont.ttf') format('truetype'),
  url('/fonts/FiraSans-Thin/firasans-thin-webfont.svg#fira_sansthin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FengardoNeue';
  src: url('/fonts/FengardoNeue/fengardoneue_regular-webfont.eot');
  src: url('/fonts/FengardoNeue/fengardoneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/FengardoNeue/fengardoneue_regular-webfont.woff2') format('woff2'),
  url('/fonts/FengardoNeue/fengardoneue_regular-webfont.woff') format('woff'),
  url('/fonts/FengardoNeue/fengardoneue_regular-webfont.ttf') format('truetype'),
  url('/fonts/FengardoNeue/fengardoneue_regular-webfont.svg#fengardoneue_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
