// Import Noto Serif from Google
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

@font-face {
  font-family: 'Aspira';
  src: url('/fonts/Aspira/Aspira-DEMO-webfont.woff2') format('woff2'),
  url('/fonts/Aspira/Aspira-DEMO-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
